<div class="container user_content">
  <h2 class="user_title title_border"><%= @user.name %>さんのプロフィール</h2>
  <div class="row">
    <div class="col-md-4">
      <% if @user.image.present? %>
        <%= image_tag @user.image.variant(resize: '300x300'), class: 'eyecatch user_img' %>
      <% else %>
        <%= image_tag "/images/default.jpeg", class: 'eyecatch user_img' %>
      <% end %>
    </div>
    <div class="col-md-8">
      <table class="detail_table">
      <tbody>
        <tr>
          <th class="detail_user">名前</th>
          <td class="detail_value"><%= @user.name %></td>
        </tr>
        <tr>
          <th class="detail_user">プロフィール文</th>
          <% if @user.profile.present? %>
            <td class="detail_value"><%= @user.profile %></td>
          <% else %>
            <td class="detail_value">　</td>
          <% end %>
        </tr>
        <tr>
          <th class="detail_user">Twitterアカウント</th>
          <% if @user.school_id.present? %>
            <td class="detail_value"><%= link_to @user.twitter, "#{@user.twitter}", target: :blank %></td>
          <% else %>
            <td class="detail_value">　</td>
          <% end %>
        </tr>
        <tr>
          <th class="detail_user">出身スクール</th>
          <% if @user.school_id.present? %>
            <td class="detail_value"><%= @user.school.name %></td>
          <% else %>
            <td class="detail_value">　</td>
          <% end %>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 col-offset-6 text-center user-edit-btn">
      <%= link_to 'ユーザ情報を編集する', edit_user_registration_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

<div class="container app_contents">
  <h2 class="apps_title title_border"><%= @user.name %>さんが開発したアプリ(<%= @apps.count %>)</h2>
  <ul class="app_lists">
    <% @apps.each do |app| %>
    <li class="list">
      <%= link_to app_path(app) do %>
        <div class="app_content">
          <div class="card section">
            <div class="eyecatch_container app_img_content">
            <%= link_to image_tag(app.image, class: 'eyecatch app_img' ), app_path(app.id), method: :get %>
            </div>
            <div class="main_container">
              <div class="timeline_header">
                <h3 class="title">
                  <%= link_to app.name, app_path(app) %>
                </h3>
                <p class="body">
                  <%= truncate(app.description)%>
                </p>
                <p class="body">
                <span class="reference">アプリURL：</span>
                  <%= link_to "#{app.reference}", app.reference, target: :_blank %>
                </p>
                <div class="layout column meta_container">
                  <div class0="layout meta_items">
                    <div class="language_container">
                      <span class="language">開発言語：</span><%= app.language %>
                      <span class="sen"></span>
                      <span class="period">開発期間：</span><%= app.period %> 日
                    </div>
                  </div>
                </div>
                <div class="timeline_footer">
                  <div class="user_container">
                  <% if app.user.image.present? %>
                    <%= link_to image_tag(app.user.image, class: "user_icon"), user_path(app.user_id) %>
                  <% else %>
                    <%= image_tag "/images/default.jpeg", class: 'user_icon' %>
                  <% end %>
                    <div class="user_info">
                      <div class="user_name">
                        <%= link_to app.user.name, user_path(app.user_id) %>
                      </div>
                      <div class="app_date">
                        <%= l app.created_at %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
