<div class="container app_contents">
  <h2 class="apps_title title_border"><i class="fas fa-list-alt"></i> アプリ一覧</h2>
  <ul class="app_lists">
    <% @apps.each do |app| %>
      <li class="list">
        <%= link_to app_path(app.id) do %>
          <div class="app_content">
            <div class="card section">
              <div class="eyecatch_container app_img_content">
              <% if app.image.present? %>
                <%= link_to image_tag(app.image, class: 'eyecatch app_img' ), app_path(app.id), method: :get %>
              <% else %>
                <%= image_tag "/images/default.png", class: 'eyecatch user_img' %>
              <% end %>
              </div>
              <div class="main_container">
                <div class="timeline_header">
                  <h3 class="title">
                    <%= link_to app.name, app_path(app), class: 'app-name' %>
                  </h3>
                  <% if app.description.present? %>
                  <p class="body">
                    <%= truncate(app.description)%>
                  </p>
                  <% else %>
                  <p class="body">
                    　
                  </p>
                  <%end%>
                  <p class="body">
                  <span class="reference">アプリURL：</span>
                    <%= link_to "#{app.reference}", app.reference, target: :_blank %>
                  </p>
                  <div class="layout column meta_container">
                    <div class0="layout meta_items">
                      <div class="language_container">
                        <span class="language">開発言語：</span><%= app.language %>
                        <span class="sen"></span>
                        <span class="period">開発期間：</span><%= app.period %> 日
                      </div>
                    </div>
                  </div>
                  <div class="timeline_footer">
                    <div class="user_container">
                      <% if app.user.image.present? %>
                        <%= link_to image_tag(app.user.image, class: "user_icon"), user_path(app.user_id) %>
                      <% else %>
                        <%= link_to image_tag("/images/default.jpeg", class: 'user_icon'), user_path(app.user_id) %>
                      <% end %>
                      <div class="user_info">
                        <div class="user_name">
                          <%= link_to app.user.name, user_path(app.user_id) %>
                        </div>
                        <div class="app_date">
                          <%= l app.created_at %>
                        </div>
                      </div>
                    </div>
                    <div class="spacer"></div>
                    <div class="comments-area">
                      <i class="far fa-comment-alt comment-icon"></i><div class="comment-count"><%= app.comments.count %></div>
                    </div>
                    <% @app = app %>
                    <%= render 'users/like_form' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= paginate @apps %>
</div>
