<div class="container app-contents">
  <h2 class="apps-title">アプリ一覧(<%= @apps.count %>)</h2>
  <ul class="app-lists">
    <% @apps.each do |app| %>
    <li class="list">
      <%= link_to app_path(app) do %>
        <div class="app-content">
          <div class="card section">
            <div class="eyecatch_container app-img-content">
            <%= link_to image_tag(app.image, class: 'eyecatch app-img' ), app_path(app.id), method: :get %>
            </div>
            <div class="main_container">
              <div class="timeline_header">
                <h3 class="title">
                  <%= link_to app.name, app_path(app) %>
                </h3>
                <p class="body">
                  <%= truncate(app.description)%>
                </p>
                <p class="body">
                <span class="reference">アプリURL：</span>
                  <%= link_to "#{app.reference}", app.reference, target: :_blank %>
                </p>
                <div class="layout column meta_container">
                  <div class0="layout meta_items">
                    <div class="language_container">
                      <span class="language">開発言語：</span><%= app.language %>
                      <span class="sen"></span>
                      <span class="period">開発期間：</span><%= app.period %> 日
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
