<div class="app-show">
  <div class="app-box">
    <h2 class="app-name">
      <%= @app.name %>
    </h2>
    <div class="app-img-content">
      <%= image_tag @app.image ,class:"app-box-img" %>
    <div>
    <% if user_signed_in? && current_user.id == @app.user_id %>
    <div class="user-button">
       <%= link_to "アプリの編集", edit_app_path(@app.id), class: 'btn btn-success edit-btn' %>
       <%= link_to "アプリを削除", app_path, method: :delete, class: 'btn btn-danger delete-btn', data: { confirm: '本当に削除して良いですか？',  cancel: 'やめる', commit: '削除する' }, title: "削除確認" %>
    </div>
    <% end %>
    <div class="app-description-box">
      <span><%= @app.description %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-app">開発者</th>
          <td class="detail-value"><%= @app.user.name %></td>
        </tr>
        <tr>
          <th class="detail-app">開発プログラミング言語</th>
          <td class="detail-value"><%= @app.language %></td>
        </tr>
        <tr>
          <th class="detail-app">技術的なポイント</th>
          <td class="detail-value"><%= @app.point %></td>
        </tr>
        <tr>
          <th class="detail-app">開発期間</th>
          <td class="detail-value"><%= @app.period %></td>
        </tr>
        <tr>
          <th class="detail-app">アプリのURL</th>
          <td class="detail-value"><%= link_to "#{@app.reference}", @app.reference, target: :_blank %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="layout column comment_container">
    <div class="layout column reviews">
      <section>
      <h3 class="comment_area_title">
        コメント一覧
      </h3>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <div class="layout column container_bLYok">
              <div class="layout align-center first_row">
                <div class="comment_user_name">
                  <%= comment.user.name %>
                </div>
                <% if user_signed_in? && current_user.id == comment.user_id %>
                <div class="comment-destroy">
                  <%= link_to "削除", app_comment_path(comment), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: "本当に削除して良いですか？" } %>
                </div>
                <% end %>
                <div class="comment_created_at">
                  <%# comment.created_at %>
                </div>
              </div>
              <div class="layout align-center third_row">
                <div class="comment_user_text">
                  <%= comment.content %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </section>
    </div>
  </div>
  <% if user_signed_in? %>
  <div class="layout post_review_container">
    <div class="container column post_review_inner_container">
      <div class="layout column container_M">
        <%= form_with(model: [@app, @comment], local: true) do |f| %>
          <div class="layout column review_body_container">
            <div class="comment_title">
            ここにコメントを記入してください
            </div>
              <%= f.text_area :content, placeholder: 'コメント内容を記入してください', rows: '3', class:'comment-text' %>
          </div>
          <div class="layout align-center justify-center">
            <%= f.submit 'コメントする', class: 'btn btn-primary comment-btn' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>