<header class="header">
  <div class="header__bar">
    <h1>
      <%= link_to "Find Apps", root_path %>
    </h1>
    <ul class="header__bar__user_nav">
      <% if user_signed_in? %>
        <li class="header__bar__user_nav__btn">
          <%= link_to "投稿する", new_app_path %>
        </li>
        <li class="dropdown user_name">
            <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i> <%= current_user.name %> <b class="caret"></b>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to current_user do %><span><i class="fas fa-user-circle"></i> マイページ</span><% end %></li>
              <li><%= link_to edit_user_registration_path do %><span><i class="fas fa-user-edit"></i> ユーザー編集</span><% end %></li>
              <li class="divider"></li>
              <li><%= link_to destroy_user_session_path, method: :delete do %><span><i class="fas fa-sign-out-alt"></i> ログアウト</span><% end %></li>
            </ul>
          </li>
      <% else %>
        <li>
        <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class:'btn btn-success' %>
        </li>
        <li class="header__bar__user_nav__btn">
          <%= link_to "ログイン", new_user_session_path %>
        </li>
        <li class="header__bar__user_nav__btn">
          <%= link_to "新規登録", new_user_registration_path %> 
        </li>
      <% end %>
    </ul>
  </div>
  <% flash.each do |message_type, message| %>
    <div class="notifications">
      <div class="<%= message_type %>"><%= message %></div>
    </div>
  <% end %>
</header>