<%= form_with(url: root_path, local: true, method: :get, class: 'search-area') do |f| %>
  <%= f.text_field :keyword, placeholder: 'アプリ名・プログラミング言語を検索する', class: 'search-field' %>
  <%= f.submit '検索', class: 'btn btn-primary search-btn' %>
<% end %>
<% if @search_word.present? %>
    <h3 class="title_border">「<%= @search_word %>」の検索結果</h3>
    <% if @apps.count == 0 %>
      <div class="search-result text-center">
        <%= link_to "トップページに戻る", root_path %>
      </div>
    <% end %>
<% end %>